.employeeWrapper {
  display: grid;
  grid-template-columns: 25vw 35vw;
  grid-template-rows: 10vh 40vh 10vh;
  color: #fff;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 0.2rem;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.85);
  border: 0.1rem solid rgba(256, 256, 256, 0.7);
  position: absolute;
  grid-template-areas:
    "a b"
    "c d"
    "e f";
}

.statusBar {
  position: absolute;
  width: 3%;
  right: 0.1rem;
}
.statusBar:hover {
  cursor: pointer;
}

.statusBar::after {
  content: "x";
  position: relative;
  width: 1rem;
  height: 1rem;
  color: #fff;
  float: right;
}

.statusBar:hover::after {
  color: rgba(190, 16, 16, 0.85);
}

.infoLeft {
  display: grid;
  grid-area: c;
  grid-template-rows: 5vh 20vh 13vh;
  grid-template-areas:
    "g"
    "h"
    "i";
}

.employeeName {
  grid-area: h;
  align-self: center;
  justify-self: center;
  display: grid;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.2rem;
  text-shadow: 0.1rem 0.2rem 1rem rgba(256, 256, 256, 0.4);
  text-align: center;
}

.infoRight {
  display: relative;
  grid-area: d;

  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  align-self: center;
  justify-self: start;
  padding: 0.5rem;
  line-height: 1.4rem;
  text-shadow: 0.1rem 0.2rem 1rem rgba(256, 256, 256, 0.4);
}

#employeeEditButton {
  grid-area: i;
  justify-self: center;
  align-self: center;
}

.edit {
  text-transform: uppercase;
  border: 0.04rem solid #000;
  color: #000;
  width: 4rem;
  height: 2em;
  font-size: 0.6rem;
  letter-spacing: 0.2em;

  background: #fff;
  border-radius: 0.3em;
  box-shadow: 0.5px 0.5px 0.1px 0.2px rgba(256, 256, 256, 0.4);
}

.edit:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.edit:focus {
  outline: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1022px) {
  .employeeWrapper {
    display: grid;
    grid-template-columns: 60vw;
    grid-template-rows: 16vh 40vh;
    grid-template-areas:
      "a"
      "b";
  }
  .infoLeft {
    display: grid;
    grid-area: a;

    grid-template-columns: 60vw;
    grid-template-rows: 13vh 3vh;
    grid-template-areas:
      "c"
      "d";
  }
  .infoRight {
    display: grid;
    grid-area: b;
    align-self: center;
  }
  .employeeName {
    grid-area: c;
    font-size: 1.3rem;
    line-height: 1.5rem;
    width: 60vw;
  }
  #employeeEditButton {
    display: grid;
    grid-area: d;
    align-self: start;
  }
  .infoRight {
    justify-self: center;
    grid-area: b;
    padding: 1rem;
  }
  .infoRight {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .employeeName {
    font-size: 0.8rem;
  }
  .infoRight {
    font-size: 8px;
  }
}
